<a href="https://colab.research.google.com/github/vamsi836/PYTHON/blob/master/DAY_(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
* WHILE LOOP
* FOR LOOP

In [0]:
# PRINT Number from to 1 to n
# input 10
# output 1 2 3 4 .... 10
n = int(input("enter a number i"))
i = 1
while i <=n:
  print(i,end = " ")
  i = i+1

enter a number i10
1 2 3 4 5 6 7 8 9 10

In [0]:
# PRINT sum of even numbers 
# input  :10
# output : (2+4+6+8+10)=30
n = int(input("enter a number"))
i = 2
sum = 0
while i<=n:
  sum = sum + i
  i = i+2
  print(sum)

enter a number14
2
6
12
20
30
42
56

In [0]:
# print palindrome number
# input 123
# output 321
n = int(input("enter a number"))
rem = 0
num = 0
while n>0:
  rem=n%10
  num=num*10+rem
  n=n//10
  print(num)

enter a number814
4
41
418

# FUNCTIONAL PROGRAMMING
- Simple 
- easy to understand 
- better reuseability
- lenghty program will be divided into sub programs

In [0]:
def nameofthefunctions(<parameter>):
  statements
  return

In [0]:
# print sum of even number
def sumofevendigits(n):
  s = 0 
  while n!= 0:
     r = n%10
     if r%2==0:
       s=s+r
     n =n //10
  return s
sumofevendigits(1234)

6

In [0]:
#to find the largest digit in a number
def large(n):
  prev=0
  next=0
  while(n!=0):
     prev=next
     next=n%10
     if(prev>next):
       next=prev
    n=n//10
   return next
large(12345)

IndentationError: ignored

# for loop:
# syntax:
# for in range(start,stop,step):
# statements

In [0]:
# syntax:
for in range(start,stop,step):
    statements

In [0]:
# using function print  the numbers between limits
# input  : 11 25
# output : 11 12 13 14 ...24 25
def printseries(fn,ln):
  for i in range(500,521,4):
    print(i,end=" ")
    return
printseries(500,521)

500

In [0]:
# input : 500,520
# output : 502,5

# collection types
* List
* Tuple
* Dictionary

In [0]:
# List
- one of the data structure in python
- Data structure means to store,sort and search options
- its one common  data structure in  python,the items of list separated by comma and enclosed by square brackets
- list was IMMUTABLE (0i.e value can change) 
- ex:
- list1=[1,2,3,4,5]
- list=["JNTUA","DASD","asds"]

In [0]:
li = []1,8,2,5,4]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])

In [0]:
['JNTUA', 8, 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 4]

In [39]:
# Basic List Operators
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(6 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# List functions
- max
- min
- sum 
- append
- insert
- count 
- index
- sort
- pop

In [0]:
li = [1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(l)/(len(1)))

In [53]:
l = [1,2,3,4,5,6,7]
#l,append(56)
#l,,insert(2,56)
#l,count(5)
#l,index(4)
#1pop
#l.sort()
l.pop(3)
print(l)

[1, 2, 3, 5, 6, 7]

In [57]:
# using function return large number from the list  
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [13,2,4,14,43,74,7,8,12,77]
print(largenumber(li))
print(genericlarge(li,3))

77
43

In [60]:
def smallnumber(li):
  li.sort()
  return li[1]
def genericsmall(li,n):
    li.sort()
    return li[n]
li = [2,4,7,14,12,77,96]
print(smallnumber(li))
print(genericsmall(li,2))

4
7

In [0]:
# Tuples
- parenthesis -()